<h1>“Where Cold Winds Caress”</h1>

Coins clinking in my pocket, but a marching beat
A jacket for warmth, but no design that inspires me
Boots to protect from snow, not for ostentacity
For when darkness comes, nothing can accompany.

I pondered before I departed my home
What would be left behind when I leave the world, alone
For on me all I see are things, that speak no omen
Nor breath to who I am, like of the living from a zom.

And if I see a cabin along the road
Lights on, someone in the abode
Who wishes not my presence in their commode
Then I offer, for warmth and for repay, a bundle of firewood.
For the journey is hard and will encompass my life
And need not I more things to add to my strife
Merely a metered chorus played by my fife
And a journal filled with words to be read when I enter the afterlife.



<h2>Inspiration:</h2>
The name came from a Darkthrone song called "Where Cold Winds Blow".
I was smitten with someone at the time and they did not feel the same.
