<h1>Fortuna Te Favet</h1>

Break the yoke that burdens your shoulders
Fight even against what you consider your own soldiers
For everything that’s right in this world is victory
Not who, what, how, why or where you be

And doubly against those who stand by your side
For beyond the present, your presence won’t abide
To fall down the rabbit hole they consider the truth
When, to discover that it is wrong, would take not a sleuth

Fight, fight, fight until the day you pass on
‘Cause upon that day all you are will be gone
So try not to leave behind the words of another
Instead, leave wisdom beyond and other
Found within the suffering you have endured
Without those you’ve heard while being reassured

For it is in that imperceptible personal narrative
From the life, that beginning to end, only you have lived
Can others beyond you find the strength to carry on
O’er the present and what’s been forgone

Break, break, break the platitudes of the ancestors
As many were no better than disingenuous actors
Only repeating what their parents had told them
Weaving their flimsy facts with “righteous” hem

Find the way your feet were destined to trod
Punch through the walls you were meant to prod
Bust down the doors you were intended to open
And proudly stride through thresholds meant to walk in
