
  <head>
    <meta charset="utf-8" />
    <title>Le Epic Texts</title>
  </head>

<link rel="stylesheet" href="/css/index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quattrocento&display=swap" rel="stylesheet">
 <body>
   <h2>
     <h2>
       <h2>
         <h1>Kyle's Things and Stuff</h1>
            <div id="task-meta" class="siteheader">
              <h4 style="margin-left:1em; margin-top:0.5em;">Links</h4>
              <hr>

            <div id="topline">
              <div id="home">
                <a href="/index.html"><img src="/res/home_icon.png" alt="Homepage" class="headerimg"></a>
                <h4>Home</h4>
              </div>

              <div id="writing">
                <a href="/writing/"><img src="/res/writing_icon.png" alt="Writing" class="headerimg"></a>
                <h4>Writing</h4>
              </div>

              <div id="art">
                <a href="/art/"><img src="/res/art_icon.png" alt="Art" class="headerimg"></a>
                <h4>Art</h4>
                </div>
                </div>
         </div>
         <h2>Temporally Ordered</h2>
         <ul>
           <li><a href="TheLonePerformer.html">The Lone Performer (2016)</a></li>
           <li><a href="daydreamin.html">Daydreamin' (2019)</a></li>
           <li><a href="legio.html">Legio XIII: The Rubicon (unfinished 2019-)</a></li>
           <li><a href="unsinkable.html">Unsinkable (2020)</li>
           <li><a href="DasDickeEndeKommtLos.html">Das Dicke Ende Kommt Los (2020)</a></li>
           <li><a href="Humans.html">Humans Need Not Apply (2020)</a></li>
           <li><a href="BlueBullets.html">Blue Bullets (2021)</a></li>
           <li><a href="Cradle.html">The Cradle Will Fall (2021)</a></li>
           <li><a href="56Reasons.html">56 Reasons (2021)</a></li>

         </ul>

         <div id="legealese">
           <p> Copyright of Kyle McDermott and all subsequent pennames, ©2021-
             </p>
       </h2>
     </h2>
   </h2>
   </body>

  </html>
