<h1>“Leo Audacter Belli”</h1>

Scared.
Tired.
The bullets whizz overhead; a chorus of wailing metal
“Hold fast!” come the cries of the distant NCO.
I peek my head out of the foxhole, glancing down the sights of my M1.
The onslaught of audacious avengers of the dead seems endless,
Grey-green figures mount, mouths still fixed in the midst of screams,
Light glistening off the top of their bayonets, their barrels,
Into my eyes.

White hot, the pain in my abdomen and leg.
This is it.
I feebly reach to the nearby Browning,
Its cold, metal body nearly leapt with joy when I pulled myself over.
The deafening sound filled the nest as round after round zipped
Like wind, over the dead, over the parapet.
CLICK CLICK CLICK
Now it’s out.
The bayonet screams and scrapes as I pull it triumphantly from it’s sheath with a ring.
If this is my end, make it quick.
Calloused hands pull me from the foxhole.

“Baker, you’re going back!”
The shaken, ghostly private barks at me.
“I am not!”
I can’t leave now, not when the whole platoon is scattered around me.
“You don’t have a say.”
Two other men grab each of my legs and pull me up above the mud.
Step, by step, they trudge me back.
A distant crack is followed by one of my pallbearers yelping,
Falling to the mud in a heap.
The other grabs my fallen leg, continuing the procession to my armless demise.
CRACK EEEEEEE thud.
The final leg carrying brother grunts.
Now only one holds my arms, dragging my mud-crusted shoes across the dirt.
“Leave me here at this tree.” I order
“No way am I-”
“Do it.”
This is my end, no question,
I will go out with honor.

He leans me against the battle-scarred tree,
“One pistol,” I ask, “one pistol and one cigarette.”
That is all I need now.
One slow drag on the cigarette
One slow exhale.
One last banzai charge to face.

CRACK, one thuds at my feet
CRACK, one falls to my left
CRACK, one staggers to his knees, saying banzai with his last breath
CRACK, CRACK, CRACK, CRACK-CRACK.
Five thuds, five grunts.
A small puff of dust accompanies the Colt landing at my feet.

One long pull from the still-lit cigarette
One long exhale, the smoke obscuring the last charging man.
He only sees a blood-stained, mud-coated lion
Snarling in defiance
Refusing to go down.
He doesn’t miss a pace on his way towards me.
Good, a worthy adversary.
He does his deed, as I have done mine.
I grab his barrel, the lion giving a final snarl.
The only thing to return in a year is a small, gold star with blue ribbons.

<h3>Inspiration:</h3>
Inspired by the life and death of Thomas Baker, who met his demise at the Battle of Saipan. He posthumously received the medal of honor.
