<h1>Love For the Departed</h1>

A remorseful hand traces the headstones
In memory of the life the carrion
Had lead and brought to end
With a somber squat, the living sits
To commune with the one they loved
And to converse with them as they once had
Even if the departed can no longer
Manipulate the air molecules all around

With a loving pat, the alive one rises
Noticing a feeling overcoming the surrounding
A feeling that washes over like warm bath water
And comforts the living in return
For the dead still bear within in them
Those same emotions we living experience
And the same sense of duty to the lovelings
So burning in the hearts of soon-dead

The living's strength drains, collected by the spirit
That uses it to manifest itself as an after image
Of how they appeared not a few years prior
Arms outstretched to embrace the source
The source for their return to form
And bring them together into one
One life that contains two
Two lives, one continuing, one completed
