<h1>Malformed and Maligned</h1>

“There’s someone out there,” I’ve always heard
But they’re sure taking their sweet time.
Pass me the remote so I can fast-forward
To the time that I run into that person
And pause when we join for eternity
So that I may live in that moment
For the rest of our lives.

Where I have had jagged edges in the past,
What should I file down to be smooth
When my soulmate walks through the door.
How can I be the best I can be?
Why can’t I see myself improve?

Maybe it’s my aversion to sex
Maybe it’s my anxiety in speaking
Maybe it’s my malformed heart
Maybe it’s just me.

How do I know what’s right
When I can’t even tell what’s wrong?
Perfection can’t be achieved by humans
But I want to be the first.
So what is there to fix?

My friends and family tell me I’m great
That any person would be lucky to have me
But can I really trust their words?
Can I really believe that there is nothing to do?
Surely there is something that I don’t do right,
Surely there’s a reason I mis-connect;
Like a worn-out electrical socket
That drops any plug inserted into it
And fails to charge and power
The things plugged in.

That might just be it:
I’m the one that’s not right
I’m the one that failed my partners
I’m the one that couldn’t give them what they deserve.

All that’s left to blame is I.
