<h1>Meaning In Meaninglessness</h1>

I've given all that I have to give
Leaving not enough to even live
An empty shell that fills Big Cat's pockets
No more valuable than a cheap socket
Replaceable to the core
Not important enough to consciously ignore

Meaningless as existence seems to be
A way out of this hole, I cannot see
Black on blue filling my skin to the brim
An empty lot with a concrete trim
Attempting suicide is as pointless as trying
No thing in this world as valueless as dying

A letter, a number, a blade of grass,
A rock-launcher and a house of glass
Meaning, meaning everywhere
A brick wall upon which to stare
Meaning, meaning; all I think
Meaning, meaning; pushed to the brink

Alone when in need of assistance
Alone from here to the unseeable distance
A wolf born outside of every pack
A brick bereft of a comforting stack
A brain ever desiring more
As novel and original as a product in a store

Bootstraps that give way upon a tug
Straitjackets binding me, all snug
For consciousness in this lifeless life
Is meaningless; for answers are rife
But every answer is wrong
But every bit of suffering is a song

All I've ever known has collapsed
All I've ever loved has relapsed
All I've ever done has perished
All I've ever hated has been cherished
All I've ever wanted has been bought
There is nothing left that I've got
