<h1>Musashi</h1>

A short breath of relief
A strong conviction of will
A single look
And a single action

One strike
Blade raised overhead
Slashing down towards their head
Time slows to a crawl

The enemy blade gets so close
That the swordsman leans back slightly
With his headband falling to the sand
In two pieces

But not without revenge
For the strike lead by the swordsman
Clears clean through the enemy's forehead
And right down to his chin

Cleaved into two, the head splits
Without agency any longer
The body slumps to the ground
Victorious swordsman flourishes and sheaths
His blade
