<h1>The New Dawn</h1>

Black fades into indigo
Purple soup dilute with orange
Normally white clouds reflect the coming pink
Birdsong carries the melody of the dawn
Once quite streets are filled with metal machines
Cities come to life out of the silence of sleep
Breaking the spell of living death
Draped over the concrete and glass desert
Like a blanket smothering a fire
But, the tendrils rise in spite of asphyxiation
Flaming wings unfurl and fill the sky
A head emerges from the horizon
Its beak parted in cries of defiance
And its presence cuts through the fog,
Its aura dries up the dew,
Its lifeblood demands obtestation
Even the stripes of black
That stretch from the trunks of the trees
Cannot prevent the coming of the light
With a flap that washes its reverberation
Across the waving fields of brush,
The Phoenix perches on the boundary of vision
And imitates a rooster in ushering still forms
Into motion again, again to fight and conquer
The pale disk counterbalancing it
Wraps itself in its slumberous gown
And descends to its place of rest
Paths once shielded in darkness
Now call attention to their forms
All paths, save for one
Are choked with the masses
This lonely path
Bears the footprints of one set of feet
This forgotten trail
Was forged by the determination of one
This hallowed journey
Is the only one smiled upon by the Light
This path
Needn't be alone
There are many other directions yet untrodden
There are many yet unseen
There is but one for each set of feet
The Phoenix demands that each walk
The way indicated by the soul's voice
Of every sentient being

And thus, it shall be done
