<h1>Rabbit Hole </h1>

Sunlight casts cocktail olives across the right side of your scope. An antiquated carriage rut jostles you in your gunnery position. Turning the turret rotation wheel, you take small steps to follow the positioning of the barrel. There- rising above the hill… an enemy tank! The sloped walls of the turret grow out to the flat platform of the hull. You frantically turn the horizontal and vertical adjustment gears, lining up a shot that should land between the turret ring and the indented hull backing the track well. Growing sounds of tread nails getting pounded back into place by an angled piece of metal reverberate across the dead field; filling your ears with their cacophony.
"Load HEAT!" The Tank Commander shouts, hopping down from the cupola.
"Loading!" The Loader replies, pulling a shell from the storage and locking it into the breach.
Your eyes dilate inside the gunnery periscope; your mind races with the calculations of relative speed, coriolis effect and parabolic path for the outgoing round. A steadying breath falls from your lips, minorly fogging the glass. You pull the trigger: your measurements and calculations complete. Bright light dazzles the grasses as the shell is blasted out of the back of the cannon. Streaking through the sky, sparks shoot off the stage-left side of the enemy turret; an explosion of fiery bits raining their fragmentation behind the tank. Their turret stares right back at you, tracks slowing to a halt as it prepares for a return volley. The salvo of APCR and machine gun bullets blind you. Another bump shakes the tank?
"Wha-" the Tank Commander can barely get out before the whole of the hull is filled with fire.
Black, broken apart by slow bursts of red, is disrupted by the incoming sunlight, albeit beneath your feet. The ground comes suddenly and so too falls your head onto the metal.
You jolt up, running your hands along a leather couch in a sterile white room. A strange man with mirror-coated black glasses smiles at you whilst twirling a coin in his hands.
"Welcome, Alice," he sneers, "this," his hands extend and the coin vanishes, "is reality."
"This?" You inquire, looking at the never-ending plane of white.
"Yes."
"This is reality?"
"What is reality?" His smiling face angles forward to you, his hands coming back together but this time with a remote in hand.
Black shoots from the sides of your vision, circling around the strange man until it winks into black with a four-point star over his lips.
You turn away from the television, looking at the box at your right. "The Matrix," it's title emphasizes.
"The hell?" You ask no one.
