<h1>Return of the Recurve</h1>

Knee-deep in watery mud I wade
Stride after stride dragging me from the glade
Dangling vines dropped by my blade
Animals scurrying away from the raid

Stone upon stone demarking the shoreline
A sight, like travelling the desert- and finding a shrine
I slump upon her shores and feel just fine
As if I'm no longer fastened to the sea by twine

And from this new shore I disembark
The difference in energy exerted stark
My way out lead by the song of a lark
And right into a public park

Once again among the lives of the civil
Their happiness buoyed by a white pill
Once the means for all those mentally ill
To shirk their bonds and do what they will

And I feel like I have never left the wild.
