<h1>Spacial Law</h1>

Defendant Pierre Rosson was discovered on a Federation ship with its distress beacon activated, the bodies of the murdered crew strewn about the ship. The Prosecution has been attempting to paint the Defense in a corner by proving that the Defendant was not acting as a Good Samaritan, rather he was the one who murdered the crew and tampered with his location tracking device to defend his innocence.

Bailiff: "The case of the United Milky Way Federation versus Pierre Rosson calls on the Defendant to testify on their own behalf."

Defendant: "Thank you, Your Honor."

Judge: "Prosecution has the floor."

Prosecuting Attorney (PA): "Mr. Rosson, on the date of 2359.13.12 of the ICC (Interplanetary Calendar Cycle), did your communication device pick up a distress beacon?"

Defendant: "Yes, I did. I think it was around 0045, but I'm not entirely sure as I was focused on my route from halfway down the Scutum-Crux Arm to the Outer Arm."

PA: "What was said route for?"

Defendant: "The transportation of Solar Films to a ship construction business on Massenia."

PA: "Upon receiving the distress beacon, did you or did you not break off your route to heed the call?"

Defendant: "I did. Any Spacemariner would do all they could to rescue the crews of a ship in need."

PA: "Interesting you say that, as you were picked up by Federation ships while looting the drifting ship. Were the goods on the ship worth stealing?"

Defending Attorney (DA): "Objection! Leading!"

Judge: "Overruled."

PA: "Answer the question, Mr. Rosson."

Defendant: "I was attempting to find medical supplies for the captain of the ship whose life was in the balance. He told me that they had a shipment of the necessary chemicals and gauze in the hold, so I went in search of it."

PA: "So, you didn't take anything?"

Defendant: "No, sir."

PA, grabbing his notes from the desk: "I'd like to return to one of your previous answers, if I may."

Defendant: "No complaints."

PA: "You stated that you didn't receive the distress call until 0045, but based on your ship's telemetry data, we can see that you changed course at 0043. Could you not recall the time that was clearly displayed on the bottom left of your forward viewing port?"

DA: "Objection, argumentative."

Judge: "Sustained."

PA: "I'll rephrase. Could you have had a lapse in memory, or do you not check the time while transporting goods?"

Defendant: "When I received the distress beacon, I immediately turned my ship towards the coordinates relayed in the message. I didn't check the time until after I had plugged them into my ULS (Universal Location System)."

PA: "Permission to approach the witness."

Judge: "Granted."

PA, presenting the Defendant with a picture of the deceased Captain: "Do you recognize this image?"

Defendant: "I do."

PA: "Please tell me who is in this image."

Defendant: "The Captain who died because of the Federation focusing on my presence on board rather than the bodies of their comrades."

PA: "A bold statement to make. How long after you arrived did the Captain succumb to his injuries?"

Defendant: "I don't know. I was being shackled in the hold."

PA: "According to the coroner's report, his time of death was 0135, about seven minutes after you testified to arriving in your deposition. Convenient?"

Defendant: "How so?"

PA: "Mr. Rosson, I ask the questions and you answer them. This is how this works. Either you answer what I have asked or I will have you thrown out due to Non-Compliance."

Defendant: "I don't see what's convenient about that. As I said, he was alive when I arrived and he asked me to give him medical assistance with the goods in the hold."

PA: "A likely story."

PA, shuffling his papers and drawing out another report: "We have DNA and fingerprint evidence on the opening mechanism of the door to the bridge as well as on the Captain's body. Your prints were found around the areas of his wounds. How does that happen?"

Defendant: "By pressing my hands to them to apply pressure in an attempt to stop the bleeding."

PA: "Or was it from holding him down while you mercilessly stabbed him on the ground?"

DA: "Objection, argumentative."

Judge: "Sustained. The Prosecution should refrain from berating the witness."

PA: "Understood, Your Honor. I hold in my hands the murder weapon!" The PA shows the jury and audience a black knife in a plastic bag, "And on this weapon are your fingerprints. How did they get there if you were not the aggressor?"

Defendant: "I have never seen that knife before."

PA: "You haven't?"

Defendant: "No."

PA: "If you haven't seen it, but your prints are on it, then where did it come from?"

DA: "Objection, speculation."

Judge: "Sustained."

PA: "I have one last question: if you are well-aware of how to use the ULS, do you know how to change the location it displays when examined?"

Defendant: "I'm pretty sure that every one who uses it knows that."

PA: "No more questions, Your Honor."

Judge: "Your witness, Defense Counsel."

DA: "Thank you, Your Honor. Mr. Rosson, when you entered the ship in question, what was the state of the vessel?"

Defendant: "The propulsion system was offline when I approached, leaving the ship to drift aimlessly. Upon entering, I found the bodies of the lower ranked crew members run through with some sort of bladed weapon. As I followed the trail of corpses, I found a locked door to the bridge. I hot-wired the cables to the numerical code framework in order to open it. Inside, I found the still-living body of the Captain. He told me that a marauder had come through and wiped out his crew. He asked me to help keep him alive, but he died while I was searching for the medical supplies."

DA: "Approximately how long did it take you to gather said supplies?"

Defendant: "I wasn't able to locate enough of what I needed before I was apprehended."

DA: "The Federation ships arrived at 0220, approximately an hour after you arrived, with the Captain's death coming minutes after the event you described. Why did it take so long to find the supplies?"

Defendant: "The lower sections of the ship were protected by a series of padlocks and air-tight compartments. I had to find a way through all the safeguards to reach the hold, and from there the packages weren't labelled, leaving me little choice but to open every single one to find the one containing the goods I needed to save the Captain's life. Clearly, in vain."

DA: "Why was it that you were able to get through the door to the bridge so easily, but struggled with the locks in the lower decks?"

Defendant: "The lock on the bridge was the same make and model as the one in my ship, so I've had experience fixing it. As for the ones in the lower decks, they were military-grade. I only got through some of them by brute force or climbing through a ventilation shaft."

DA: "Did you kill the crew of the ship?"

Defendant: "I'm appalled that you would imply such a thing. My ship contains no weapons in it, not even a knife. I do all my repairs with Federation-regulated repair tools, even when splicing wires. I never carried a weapon, as I always figured that the Federation's territory was a safe place to be."

DA: "No more questions, Mr. Rosson. Thank you."

Judge: "This shall conclude the testimony. We will reconvene 10 days from now for closing statements."

Following the closing statements, the jury found the defendant Not Guilty on the charges of murder, but found him Guilty for Space Banditry and Failure to Follow Emergency Procedures. He was sentenced to 20 years imprisonment at the Federal Detention Center on Fechran. To this day, he swears his innocence. The Prosecuting Attorney was demoted after, for trying to pin their case on the fact that the ULS could be tampered with. The Defendant died in prison after serving 15 years, because of terrible conditions and constant beatings from the guards.
