<h1>Stormrider</h1>


Indigo clouds delineate the boundary
Between what is bright and what is dark
And though the light will soon fade
To the overcoming presence of
This umber mass riding in
I feel no ounce of fear
No drop of anxiety
Merely the desire to go forth
Beat back its driving rains
With my bare body
Fight back against its winds
With just my legs on the ground

For those same ill-fated breezes
That drove it to be over me
Will themselves relocate this storm
And bathe me, once again,
In those dulcet rays of sunlight
