<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>Fox and Raven Media</title>
  </head>
  <!--
  ──────▄▌▐▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀​▀▀▀▀▀▀▌
 ───▄▄██▌█ beep beep
 ▄▄▄▌▐██▌█ gay porn delivery
 ███████▌█▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄​▄▄▄▄▄▄▌
 ▀(@)▀▀▀▀▀▀▀(@)(@)▀▀▀▀▀▀▀▀▀▀▀▀▀​▀▀▀▀(@)▀
 -->
<link rel="stylesheet" href="css/index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quattrocento&display=swap" rel="stylesheet">
 <body>
<header>
    <div>
     <span class="rainbow-lr">Rainbow text</span>
   </div>

<h1>Directory</h1>
  <div id="task-meta" class="siteheader">
    <h4 style="margin-left:1em; margin-top:0.5em;">Links</h4>
    <hr>

    <div id="topline">
      <div id="home">
          <nav>
              <ul>
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/writing/">Stories and Poetry</a></li>
                  <li><a href="/art/">Photography and Art</a></li>
                  <li><a href="/sales/">Book Links</a></li>
                  <li><a href="about.html">About Me</a></li>
                  <li><a href="contact.html">Contact Me</a></li>
            </ul>
            </nav>
      <!--
      <div id="files">
        <a href="files/"><img src="res/ktorrent.png" alt="Files" class="taskimg"></a>
        <h4>Files</h4>
      </div>

      <div id="git-server">
        <a href="https://git.ryanmj.xyz"><img src="res/folder-git.png" alt="git" class="taskimg"></a>
        <h4>Git Server</h4>
      </div>

      <div id="contact-me">
        <a href="mailto:ryan@ryanmj.xyz"><img alt="Email me" src="res/kopete.png"/></a>
        <h4>Contact Me</h4>

      </div>
      -->
    </div>
  </div>
   <div>
     <span class="rainbow-lr">Rainbow text</span>
   </div>
   {{index}}
   <div>
     <span class="rainbow-lr">Rainbow text</span>
   </div>
<div id="legealese">
  <p> Dedicated to you, the reader.
    </p>
 </body>

</html>
