<h1>Purchase links for my book(s) below!</h1>

<ul>
  <li><a href="https://www.amazon.com/Thoughts-Encumbered-Mind-Earven-Diarmada/dp/B08FRY1PR8/ref=sr_1_1?crid=1DGRQ5NTZWK3F&keywords=thoughts+of+an+encumbered+mind&qid=1642577491&sprefix=thoughts+of+an+encumbered+mind%2Caps%2C93&sr=8-1" style="color: #C5C31E">Thoughts of An Encumbered Mind</a></li>
</ul>

<p>Please consider supporting me, it really touches my heart if you do.</p>
<p>I offer my works for free, so I don't ask you to financially support me, but if you do, I appreciate it!</p>
