
<h2>Fiction, assorted</h2>
</ul>
<ul>
  <li><a href="daydreamin.html" style="color: #C5C31E">Daydreamin' (2019)</a></li>
  <li><a href="spaciallaw.html" style="color: #C5C31E">Spacial Law (2019)</a></li>
  <li><a href="legio.html" style="color: #C5C31E">Legio XIII: The Rubicon (unfinished 2019-)</a></li>
  <li><a href="humans.html" style="color: #C5C31E">Humans Need Not Apply (2020)</a></li>
  <li><a href="cradle.html" style="color: #C5C31E">The Cradle Will Fall (2021)</a></li>
  <li><a href="unsinkable.html"style="color: #C5C31E">Unsinkable (2020)</a></li>
  <li><a href="bluebullets.html" style="color: #C5C31E">Blue Bullets (2021)</a></li>
  <li><a href="theloneperformer.html" style="color: #C5C31E">The Lone Performer (2016)></a></li>
  </ul>
<h2>Poetry, published and otherwise</h2>
<ul>
  <li><a href="56Reasons.html" style="color: #C5C31E">56 Reasons (2021)</a></li>
  <li><a href="sixteen.html"style="color: #C5C31E">Sixteen in '16 (2019)</a></li>
  <li><a href="mary.html" style="color: #C5C31E">Mary Did You Know (2019)</a></li>
  <li><a href="icarus.html" style="color: #C5C31E">Icarus Redux (2019)</a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href="dasdickeendekommtlos.html" style="color: #C5C31E">Das Dicke Ende Kommt Los (2020)</a></li>
  <li><a href=""></a></li>
</ul>
<h2>Temporally Ordered</h2>
<ul>
  <li><a href="theloneperformer.html" style="color: #C5C31E">The Lone Performer (2016)</a></li>
  <li><a href="daydreamin.html" style="color: #C5C31E">Daydreamin' (2019)</a></li>
  <li><a href="icarus.html" style="color: #C5C31E">Icarus Redux (2019)</a></li>
  <li><a href="legio.html" style="color: #C5C31E">Legio XIII: The Rubicon (unfinished 2019-)</a></li>
  <li><a href="mary.html" style="color: #C5C31E">Mary Did You Know (2019)</a></li>
  <li><a href="spaciallaw.html" style="color: #C5C31E">Spacial Law (2019)</a></li>
  <li><a href="unsinkable.html" style="color: #C5C31E">Unsinkable (2020)</a></li>
  <li><a href="dasdickeendekommtlos.html" style="color: #C5C31E">Das Dicke Ende Kommt Los (2020)</a></li>
  <li><a href="humans.html" style="color: #C5C31E">Humans Need Not Apply (2020)</a></li>
  <li><a href="bluebullets.html" style="color: #C5C31E">Blue Bullets (2021)</a></li>
  <li><a href="cradle.html" style="color: #C5C31E">The Cradle Will Fall (2021)</a></li>
  <li><a href="56Reasons.html" style="color: #C5C31E">56 Reasons (2021)</a></li>
  <li><a href="sixteen.html" style="color: #C5C31E">Sixteen in '16 (2019)</a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
