<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>Fox and Raven Media</title>
  </head>
  <!--
  ──────▄▌▐▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀​▀▀▀▀▀▀▌
 ───▄▄██▌█ beep beep
 ▄▄▄▌▐██▌█ gay porn delivery
 ███████▌█▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄​▄▄▄▄▄▄▌
 ▀(@)▀▀▀▀▀▀▀(@)(@)▀▀▀▀▀▀▀▀▀▀▀▀▀​▀▀▀▀(@)▀
 -->
<link rel="stylesheet" href="css/index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quattrocento&display=swap" rel="stylesheet">
 <body>
<header>
    <div>
     <span class="rainbow-lr">Rainbow text</span>
   </div>

<h1>Fox and Raven Media</h1>
  <div id="task-meta" class="siteheader">
    <h4 style="margin-left:1em; margin-top:0.5em;">Directory</h4>
    <hr>

    <div id="topline">
      <div id="home">
          <nav>
              <ul>
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/writing/">Stories and Poetry</a></li>
                  <li><a href="/art/">Photography and Art</a></li>
                  <li><a href="/sales/">Book Links</a></li>
                  <li><a href="about.html">About Me</a></li>
                  <li><a href="contact.html">Contact Me</a></li>
            </ul>
            </nav>
      <!--
      <div id="files">
        <a href="files/"><img src="res/ktorrent.png" alt="Files" class="taskimg"></a>
        <h4>Files</h4>
      </div>

      <div id="git-server">
        <a href="https://git.ryanmj.xyz"><img src="res/folder-git.png" alt="git" class="taskimg"></a>
        <h4>Git Server</h4>
      </div>

      <div id="contact-me">
        <a href="mailto:ryan@ryanmj.xyz"><img alt="Email me" src="res/kopete.png"/></a>
        <h4>Contact Me</h4>

      </div>
      -->
    </div>
  </div>
   <div>
     <span class="rainbow-lr">Rainbow text</span>
   </div>
<h2>Fiction, assorted</h2>
<div>
  <span class="rainbow-lr">Rainbow text</span>
</div>
</ul>
<ul>
  <li><a href="daydreamin.html" >Daydreamin' (2019)</a></li>
  <li><a href="spaciallaw.html" >Spacial Law (2019)</a></li>
  <li><a href="warmbed.html">A Warm Bed For Two (2018)</a></li>
  <li><a href="legio.html" >Legio XIII: The Rubicon (unfinished 2019-)</a></li>
  <li><a href="humans.html" >Humans Need Not Apply (2020)</a></li>
  <li><a href="cradle.html" >The Cradle Will Fall (2021)</a></li>
  <li><a href="unsinkable.html">Unsinkable (2020)</a></li>
  <li><a href="bluebullets.html" >Blue Bullets (2021)</a></li>
  <li><a href="theloneperformer.html" >The Lone Performer (2016)</a></li>
  <li><a href="emperor.html">Under the Gaze of the Emperor (2019)</a></li>
  <li><a href="saber.html">Cudgel and Lightsaber (working title, ongoing)</a></li>
  <li><a href="tank.html">Last Veteran (2016)</a></li>
  <li><a href="mayhem.html">Pure Fucking Mayhem (2019)</a></li>
  <li><a href="planes.html">Stiff Upper Lip (2017)</a></li>
  <li><a href="reality.html">Rabbit Hole (2021)</a></li>
  </ul>
<h2>Poetry, published and otherwise</h2>
<div>
  <span class="rainbow-lr">Rainbow text</span>
</div>
<ul>
  <h3>Special Ones</h3>
  <li><a href="56Reasons.html" >56 Reasons (2021)</a></li>
  <li><a href="doyou.html">Do You? (2021)</a></li>
  <li><a href="onetowritehomeabout.html">One To Write Home About (2021)</a></li>
  <li><a href="corvus.html">Corvus (2020)</a></li>
  <h3>Pre-Pandemic:</h3>
  <li><a href="sixteen.html">Sixteen in '16 (2019)</a></li>
  <li><a href="mary.html" >Mary Did You Know (2019)</a></li>
  <li><a href="icarus.html" >Icarus Redux (2019)</a></li>
  <li><a href="leo.html">Leo Audacter Belli (2019)</a></li>
  <li><a href="parallel.html">Parallel Lines (2019)</a></li>
  <li><a href="malformed.html">Malformed and Maligned (2019)</a></li>
  <h3>Post-Pandemic:</h3>
  <li><a href="itcomesonagain.html">It Comes On Again (2020)</a></li>
  <li><a href="newdawn.html">The New Dawn (2020)</a></li>
  <li><a href="corvus.html">Corvus (2020)</a></li>
  <li><a href="suffering.html">The Conceit of Suffering (2020)</a></li>
  <li><a href="fatality.html">Fatality(2020)</a></li>
  <li><a href="stormrider.html">Stormrider (2020)</a></li>
  <li><a href="return.html">Return of the Recurve (2020)</a></li>
  <li><a href="gravity.html">Gravity (2020)</a></li>
  <li><a href="sink.html">Sink, Sank, Sunk (2020)</a></li>
  <li><a href="hailcapitalists.html">Hail, Capitalists</a></li>
  <li><a href="meaning.html">Meaning in Meaninglessness (2020)</a></li>
  <li><a href="fortuna.html">Fortuna Te Faveat (2020)</a></li>
  <li><a href="loveforthedeparted.html">Love For the Departed (2020)</a></li>
  <li><a href="deathofcivil.html">Death of Civil (2020)</a></li>
  <li><a href="musashi.html">Musashi (2020)</a></li>
  <li><a href="56Reasons.html" >56 Reasons (2021)</a></li>
  <li><a href="doyou.html">Do You? (2021)</a></li>
  <li><a href="onetowritehomeabout.html">One To Write Home About (2021)</a></li>
  <li><a href="sol.html">Sol-Luna (2021)</a></li>
  <li><a href="originalmyth.html">The Original Myth (2021)</a></li>
  <li><a href="threebythree.html">Three by Three (2021)</a></li>
  <li><a href="talltales.html">Tall Tales (2021)</a></li>
  <li><a href="defense.html">In Defense of Pain (2021)</a></li>
<!--
  <li><a href=""></a></li>
-->
  <li><a href="dasdickeendekommtlos.html" >Das Dicke Ende Kommt Los (2020)</a></li>
</ul>
<h2>Temporally Ordered</h2>
<div>
  <span class="rainbow-lr">Rainbow text</span>
</div>
<ul>
  <li><a href="tank.html">Last Veteran (2016)</a></li>
  <li><a href="theloneperformer.html" >The Lone Performer (2016)</a></li>
  <li><a href="planes.html">Stiff Upper Lip (2017)</a></li>
  <li><a href="warmmbed.html">A Warm Bed For Two (2018)</a></li>
  <li><a href="daydreamin.html" >Daydreamin' (2019)</a></li>
  <li><a href="icarus.html" >Icarus Redux (2019)</a></li>
  <li><a href="legio.html" >Legio XIII: The Rubicon (unfinished 2019-)</a></li>
  <li><a href="mary.html" >Mary Did You Know (2019)</a></li>
  <li><a href="spaciallaw.html" >Spacial Law (2019)</a></li>
  <li><a href="leo.html">Leo Audacter Belli (2019)</a></li>
  <li><a href="sixteen.html" >Sixteen in '16 (2019)</a>
  <li><a href="parallel.html">Parallel Lines (2019)</a></li>
  <li><a href="malformed.html">Malformed and Maligned (2019)</a></li>
  <li><a href="mayhem.html">Pure Fucking Mayhem (2019)</a></li>
  <li><a href="unsinkable.html" >Unsinkable (2020)</a></li>
  <li><a href="dasdickeendekommtlos.html" >Das Dicke Ende Kommt Los (2020)</a></li>
  <li><a href="humans.html" >Humans Need Not Apply (2020)</a></li>
  <li><a href="itcomesonagain.html">It Comes On Again (2020)</a></li>
  <li><a href="newdawn.html">The New Dawn (2020)</a></li>
  <li><a href="corvus.html">Corvus (2020)</a></li>
  <li><a href="suffering.html">The Conceit of Suffering (2020)</a></li>
  <li><a href="fatality.html">Fatality(2020)</a></li>
  <li><a href="stormrider.html">Stormrider (2020)</a></li>
  <li><a href="gravity.html">Gravity (2020)</a></li>
  <li><a href="sink.html">Sink, Sank, Sunk (2020)</a></li>
  <li><a href="loveforthedeparted.html">Love For the Departed (2020)</a></li>
  <li><a href="deathofcivil.html">Death of Civil (2020)</a></li>
  <li><a href="musashi.html">Musashi (2020)</a></li>
  <li><a href="bluebullets.html" >Blue Bullets (2021)</a></li>
  <li><a href="cradle.html" >The Cradle Will Fall (2021)</a></li>
  <li><a href="56Reasons.html" >56 Reasons (2021)</a></li>
  <li><a href="sol.html">Sol-Luna (2021)</a></li>
  <li><a href="originalmyth.html">The Original Myth (2021)</a></li>
  <li><a href="doyou.html">Do You? (2021)</a></li>
  <li><a href="onetowritehomeabout.html">One To Write Home About (2021)</a></li>
  <li><a href="threebythree.html">Three by Three (2021)</a></li>
  <li><a href="talltales.html">Tall Tales (2021)</a></li>
  <li><a href="reality.html">Rabbit Hole (2021)</a></li>
  <li><a href="saber.html">Cudgle and Lightsaber (working title, ongoing)</a></li>
