<h1>Photography, Fantasy Worlds and More</h1>

<h2>Photos at Locations</h2><div>
  <span class="rainbow-lr">Rainbow text</span>
</div>
<ul>
  <li><a href="muscoco.html">Mt. Muscoco</a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
<!--
  <li><a href=""></a></li>
-->
</ul>
<h2>Fantasy World</h2>
<div>
  <span class="rainbow-lr">Rainbow text</span>
</div>
<ul>
  <li><a href="akinzal.html">Akinzal Overview</a></li>
<!--
  <li><a href=""></a></li>
-->
</ul>
