
<h2>Fiction, assorted</h2>
<div>
  <span class="rainbow-lr">Rainbow text</span>
</div>
</ul>
<ul>
  <li><a href="daydreamin.html" style="color: #C5C31E">Daydreamin' (2019)</a></li>
  <li><a href="spaciallaw.html" style="color: #C5C31E">Spacial Law (2019)</a></li>
  <li><a href="warmbed.html"style="color: #C5C31E">A Warm Bed For Two (2018)</a></li>
  <li><a href="legio.html" style="color: #C5C31E">Legio XIII: The Rubicon (unfinished 2019-)</a></li>
  <li><a href="humans.html" style="color: #C5C31E">Humans Need Not Apply (2020)</a></li>
  <li><a href="cradle.html" style="color: #C5C31E">The Cradle Will Fall (2021)</a></li>
  <li><a href="unsinkable.html"style="color: #C5C31E">Unsinkable (2020)</a></li>
  <li><a href="bluebullets.html" style="color: #C5C31E">Blue Bullets (2021)</a></li>
  <li><a href="theloneperformer.html" style="color: #C5C31E">The Lone Performer (2016)</a></li>
  <li><a href="emperor.html"style="color: #C5C31E">Under the Gaze of the Emperor (2019)</a></li>
  <li><a href="saber.html"style="color: #C5C31E">Crudgle and Lightsaber (working title, ongoing)</a></li>
  </ul>
<h2>Poetry, published and otherwise</h2>
<div>
  <span class="rainbow-lr">Rainbow text</span>
</div>
<ul>
  <h3>Special Ones</h3>
  <li><a href="56Reasons.html" style="color: #C5C31E">56 Reasons (2021)</a></li>
  <li><a href="doyou.html"style="color: #C5C31E">Do You? (2021)</a></li>
  <li><a href="onetowritehomeabout.html"style="color: #C5C31E">One To Write Home About (2021)</a></li>
  <li><a href="corvus.html"style="color: #C5C31E">Corvus (2020)</a></li>
  <h3>Pre-Pandemic:</h3>
  <li><a href="sixteen.html"style="color: #C5C31E">Sixteen in '16 (2019)</a></li>
  <li><a href="mary.html" style="color: #C5C31E">Mary Did You Know (2019)</a></li>
  <li><a href="icarus.html" style="color: #C5C31E">Icarus Redux (2019)</a></li>
  <li><a href="leo.html"style="color: #C5C31E">Leo Audacter Belli (2019)</a></li>
  <h3>Post-Pandemic:</h3>
  <li><a href="itcomesonagain.html"style="color: #C5C31E">It Comes On Again (2020)</a></li>
  <li><a href="newdawn.html"style="color: #C5C31E">The New Dawn (2020)</a></li>
  <li><a href="corvus.html"style="color: #C5C31E">Corvus (2020)</a></li>
  <li><a href="suffering.html"style="color: #C5C31E">The Conceit of Suffering (2020)</a></li>
  <li><a href="fatality.html"style="color: #C5C31E">Fatality(2020)</a></li>
  <li><a href="stormrider.html"style="color: #C5C31E">Stormrider (2020)</a></li>
  <li><a href="return.html"style="color: #C5C31E">Return of the Recurve (2020)</a></li>
  <li><a href="gravity.html"style="color: #C5C31E">Gravity (2020)</a></li>
  <li><a href="sink.html"style="color: #C5C31E">Sink, Sank, Sunk (2020)</a></li>
  <li><a href="hailcapitalists.html"style="color: #C5C31E">Hail, Capitalists</a></li>
  <li><a href="meaning.html"style="color: #C5C31E">Meaning in Meaninglessness (2020)</a></li>
  <li><a href="fortuna.html"style="color: #C5C31E">Fortuna Te Faveat (2020)</a></li>
  <li><a href="loveforthedeparted.html"style="color: #C5C31E">Love For the Departed (2020)</a></li>
  <li><a href="deathofcivil.html"style="color: #C5C31E">Death of Civil (2020)</a></li>
  <li><a href="musashi.html"style="color: #C5C31E">Musashi (2020)</a></li>
  <li><a href="56Reasons.html" style="color: #C5C31E">56 Reasons (2021)</a></li>
  <li><a href="doyou.html"style="color: #C5C31E">Do You? (2021)</a></li>
  <li><a href="onetowritehomeabout.html"style="color: #C5C31E">One To Write Home About (2021)</a></li>
  <li><a href="sol.html"style="color: #C5C31E">Sol-Luna (2021)</a></li>
  <li><a href="originalmyth.html"style="color: #C5C31E">The Original Myth (2021)</a></li>


<!--
  <li><a href=""style="color: #C5C31E"></a></li>
-->
  <li><a href="dasdickeendekommtlos.html" style="color: #C5C31E">Das Dicke Ende Kommt Los (2020)</a></li>
</ul>
<h2>Temporally Ordered</h2>
<div>
  <span class="rainbow-lr">Rainbow text</span>
</div>
<ul>
  <li><a href="theloneperformer.html" style="color: #C5C31E">The Lone Performer (2016)</a></li>
  <li><a href="warmmbed.html"style="color: #C5C31E">A Warm Bed For Two (2018)</a></li>
  <li><a href="daydreamin.html" style="color: #C5C31E">Daydreamin' (2019)</a></li>
  <li><a href="icarus.html" style="color: #C5C31E">Icarus Redux (2019)</a></li>
  <li><a href="legio.html" style="color: #C5C31E">Legio XIII: The Rubicon (unfinished 2019-)</a></li>
  <li><a href="mary.html" style="color: #C5C31E">Mary Did You Know (2019)</a></li>
  <li><a href="spaciallaw.html" style="color: #C5C31E">Spacial Law (2019)</a></li>
  <li><a href="leo.html"style="color: #C5C31E">Leo Audacter Belli (2019)</a></li>
  <li><a href="sixteen.html" style="color: #C5C31E">Sixteen in '16 (2019)</a>
  <li><a href="unsinkable.html" style="color: #C5C31E">Unsinkable (2020)</a></li>
  <li><a href="dasdickeendekommtlos.html" style="color: #C5C31E">Das Dicke Ende Kommt Los (2020)</a></li>
  <li><a href="humans.html" style="color: #C5C31E">Humans Need Not Apply (2020)</a></li>
  <li><a href="itcomesonagain.html"style="color: #C5C31E">It Comes On Again (2020)</a></li>
  <li><a href="newdawn.html"style="color: #C5C31E">The New Dawn (2020)</a></li>
  <li><a href="corvus.html"style="color: #C5C31E">Corvus (2020)</a></li>
  <li><a href="suffering.html"style="color: #C5C31E">The Conceit of Suffering (2020)</a></li>
  <li><a href="fatality.html"style="color: #C5C31E">Fatality(2020)</a></li>
  <li><a href="stormrider.html"style="color: #C5C31E">Stormrider (2020)</a></li>
  <li><a href="gravity.html"style="color: #C5C31E">Gravity (2020)</a></li>
  <li><a href="sink.html"style="color: #C5C31E">Sink, Sank, Sunk (2020)</a></li>
  <li><a href="loveforthedeparted.html"style="color: #C5C31E">Love For the Departed (2020)</a></li>
  <li><a href="deathofcivil.html"style="color: #C5C31E">Death of Civil (2020)</a></li>
  <li><a href="musashi.html"style="color: #C5C31E">Musashi (2020)</a></li>
  <li><a href="bluebullets.html" style="color: #C5C31E">Blue Bullets (2021)</a></li>
  <li><a href="cradle.html" style="color: #C5C31E">The Cradle Will Fall (2021)</a></li>
  <li><a href="56Reasons.html" style="color: #C5C31E">56 Reasons (2021)</a></li>
  <li><a href="sol.html"style="color: #C5C31E">Sol-Luna (2021)</a></li>
  <li><a href="originalmyth.html"style="color: #C5C31E">The Original Myth (2021)</a></li>
  <li><a href="doyou.html"style="color: #C5C31E">Do You? (2021)</a></li>
  <li><a href="onetowritehomeabout.html"style="color: #C5C31E">One To Write Home About (2021)</a></li>
  <li><a href="saber.html"style="color: #C5C31E">Crudgle and Lightsaber (working title, ongoing)</a></li>
