<h2>Fiction, assorted</h2>
<div>
  <span class="rainbow-lr">LGBTQIA+ rights</span>
</div>
</ul>
<ul>
  <li><a href="/writing/daydreamin.html" style="color: #C5C31E">Daydreamin' (2019)</a></li>
  <li><a href="/writing/spaciallaw.html" style="color: #C5C31E">Spacial Law (2019)</a></li>
  <li><a href="/writing/whoisitgoodfor.html"style="color: #C5C31E">Who Is It Good For? (2023)</a></li>
  <li><a href="/writing/warmbed.html"style="color: #C5C31E">A Warm Bed For Two (2018)</a></li>
  <li><a href="/writing/legio.html" style="color: #C5C31E">Legio XIII: The Rubicon (unfinished 2019-)</a></li>
  <li><a href="/writing/humans.html" style="color: #C5C31E">Humans Need Not Apply (2020)</a></li>
  <li><a href="/writing/cradle.html" style="color: #C5C31E">The Cradle Will Fall (2021)</a></li>
  <li><a href="/writing/unsinkable.html"style="color: #C5C31E">Unsinkable (2020)</a></li>
  <li><a href="/writing/bluebullets.html" style="color: #C5C31E">Blue Bullets (2021)</a></li>
  <li><a href="/writing/emperor.html"style="color: #C5C31E">Under the Gaze of the Emperor (2019)</a></li>
  <li><a href="/writing/saber.html"style="color: #C5C31E">Cudgel and Lightsaber (working title, ongoing)</a></li>
  <li><a href="/writing/tank.html"style="color: #C5C31E">Last Veteran (2016)</a></li>
  <li><a href="/writing/mayhem.html"style="color: #C5C31E">Pure Fucking Mayhem (2019)</a></li>
  <li><a href="/writing/planes.html"style="color: #C5C31E">Stiff Upper Lip (2017)</a></li>
  <li><a href="/writing/reality.html"style="color: #C5C31E">Rabbit Hole (2021)</a></li>
  </ul>
<h2>Poetry, published and otherwise</h2>
<div>
  <span class="rainbow-lr">LGBTQIA+ rights</span>
</div>
<ul>
  <h3>Special Ones</h3>
  <li><a href="/writing/56Reasons.html" style="color: #C5C31E">56 Reasons (2021)</a></li>
  <li><a href="/writing/doyou.html"style="color: #C5C31E">Do You? (2021)</a></li>
  <li><a href="/writing/onetowritehomeabout.html"style="color: #C5C31E">One To Write Home About (2021)</a></li>
  <li><a href="/writing/corvus.html"style="color: #C5C31E">Corvus (2020)</a></li>
  <h3>Pre-Pandemic:</h3>
  <li><a href="/writing/sixteen.html"style="color: #C5C31E">Sixteen in '16 (2019)</a></li>
  <li><a href="/writing/mary.html" style="color: #C5C31E">Mary Did You Know (2019)</a></li>
  <li><a href="/writing/icarus.html" style="color: #C5C31E">Icarus Redux (2019)</a></li>
  <li><a href="/writing/leo.html"style="color: #C5C31E">Leo Audacter Belli (2019)</a></li>
  <li><a href="/writing/parallel.html"style="color: #C5C31E">Parallel Lines (2019)</a></li>
  <li><a href="/writing/malformed.html"style="color: #C5C31E">Malformed and Maligned (2019)</a></li>
  <h3>Post-Pandemic:</h3>
  <li><a href="/writing/itcomesonagain.html"style="color: #C5C31E">It Comes On Again (2020)</a></li>
  <li><a href="/writing/newdawn.html"style="color: #C5C31E">The New Dawn (2020)</a></li>
  <li><a href="/writing/corvus.html"style="color: #C5C31E">Corvus (2020)</a></li>
  <li><a href="/writing/suffering.html"style="color: #C5C31E">The Conceit of Suffering (2020)</a></li>
  <li><a href="/writing/fatality.html"style="color: #C5C31E">Fatality(2020)</a></li>
  <li><a href="/writing/stormrider.html"style="color: #C5C31E">Stormrider (2020)</a></li>
  <li><a href="/writing/return.html"style="color: #C5C31E">Return of the Recurve (2020)</a></li>
  <li><a href="/writing/gravity.html"style="color: #C5C31E">Gravity (2020)</a></li>
  <li><a href="/writing/sink.html"style="color: #C5C31E">Sink, Sank, Sunk (2020)</a></li>
  <li><a href="/writing/hailcapitalists.html"style="color: #C5C31E">Hail, Capitalists</a></li>
  <li><a href="/writing/meaning.html"style="color: #C5C31E">Meaning in Meaninglessness (2020)</a></li>
  <li><a href="/writing/fortuna.html"style="color: #C5C31E">Fortuna Te Faveat (2020)</a></li>
  <li><a href="/writing/loveforthedeparted.html"style="color: #C5C31E">Love For the Departed (2020)</a></li>
  <li><a href="/writing/deathofcivil.html"style="color: #C5C31E">Death of Civil (2020)</a></li>
  <li><a href="/writing/dasdickeendekommtlos.html" style="color: #C5C31E">Das Dicke Ende Kommt Los (2020)</a></li>
  <li><a href="/writing/56Reasons.html" style="color: #C5C31E">56 Reasons (2021)</a></li>
  <li><a href="/writing/doyou.html"style="color: #C5C31E">Do You? (2021)</a></li>
  <li><a href="/writing/onetowritehomeabout.html"style="color: #C5C31E">One To Write Home About (2021)</a></li>
  <li><a href="/writing/sol.html"style="color: #C5C31E">Sol-Luna (2021)</a></li>
  <li><a href="/writing/originalmyth.html"style="color: #C5C31E">The Original Myth (2021)</a></li>
  <li><a href="/writing/threebythree.html"style="color: #C5C31E">Three by Three (2021)</a></li>
  <li><a href="/writing/talltales.html"style="color: #C5C31E">Tall Tales (2021)</a></li>
  <li><a href="/writing/defense.html"style="color: #C5C31E">In Defense of Pain (2021)</a></li>
<!--
  <li><a href=""></a></li>
-->

  <li><a href="/writing/threerights.html"style="color: #C5C31E">Three Rights Make a Left (2023)</a></li>
  <li><a href="/writing/iam.html"style="color: #C5C31E">I Am (2023)</a></li>
</ul>
<h2>Temporally Ordered</h2>
<div>
  <span class="rainbow-lr">LGBTQIA+ rights</span>
</div>
<ul>
  <li><a href="/writing/tank.html"style="color: #C5C31E">Last Veteran (2016)</a></li>
  <li><a href="/writing/theloneperformer.html" style="color: #C5C31E">The Lone Performer (2016)</a></li>
  <li><a href="/writing/planes.html"style="color: #C5C31E">Stiff Upper Lip (2017)</a></li>
  <li><a href="/writing/warmmbed.html"style="color: #C5C31E">A Warm Bed For Two (2018)</a></li>
  <li><a href="/writing/daydreamin.html" style="color: #C5C31E">Daydreamin' (2019)</a></li>
  <li><a href="/writing/icarus.html" style="color: #C5C31E">Icarus Redux (2019)</a></li>
  <li><a href="/writing/legio.html" style="color: #C5C31E">Legio XIII: The Rubicon (unfinished 2019-)</a></li>
  <li><a href="/writing/mary.html" style="color: #C5C31E">Mary Did You Know (2019)</a></li>
  <li><a href="/writing/spaciallaw.html" style="color: #C5C31E">Spacial Law (2019)</a></li>
  <li><a href="/writing/leo.html"style="color: #C5C31E">Leo Audacter Belli (2019)</a></li>
  <li><a href="/writing/sixteen.html" style="color: #C5C31E">Sixteen in '16 (2019)</a>
  <li><a href="/writing/parallel.html"style="color: #C5C31E">Parallel Lines (2019)</a></li>
  <li><a href="/writing/malformed.html"style="color: #C5C31E">Malformed and Maligned (2019)</a></li>
  <li><a href="/writing/mayhem.html"style="color: #C5C31E">Pure Fucking Mayhem (2019)</a></li>
  <li><a href="/writing/unsinkable.html" style="color: #C5C31E">Unsinkable (2020)</a></li>
  <li><a href="/writing/dasdickeendekommtlos.html" style="color: #C5C31E">Das Dicke Ende Kommt Los (2020)</a></li>
  <li><a href="/writing/humans.html" style="color: #C5C31E">Humans Need Not Apply (2020)</a></li>
  <li><a href="/writing/itcomesonagain.html"style="color: #C5C31E">It Comes On Again (2020)</a></li>
  <li><a href="/writing/newdawn.html"style="color: #C5C31E">The New Dawn (2020)</a></li>
  <li><a href="/writing/corvus.html"style="color: #C5C31E">Corvus (2020)</a></li>
  <li><a href="/writing/suffering.html"style="color: #C5C31E">The Conceit of Suffering (2020)</a></li>
  <li><a href="/writing/fatality.html"style="color: #C5C31E">Fatality(2020)</a></li>
  <li><a href="/writing/stormrider.html"style="color: #C5C31E">Stormrider (2020)</a></li>
  <li><a href="/writing/gravity.html"style="color: #C5C31E">Gravity (2020)</a></li>
  <li><a href="/writing/sink.html"style="color: #C5C31E">Sink, Sank, Sunk (2020)</a></li>
  <li><a href="/writing/loveforthedeparted.html"style="color: #C5C31E">Love For the Departed (2020)</a></li>
  <li><a href="/writing/deathofcivil.html"style="color: #C5C31E">Death of Civil (2020)</a></li>
  <li><a href="/writing/musashi.html"style="color: #C5C31E">Musashi (2020)</a></li>
  <li><a href="/writing/bluebullets.html" style="color: #C5C31E">Blue Bullets (2021)</a></li>
  <li><a href="/writing/cradle.html" style="color: #C5C31E">The Cradle Will Fall (2021)</a></li>
  <li><a href="/writing/56Reasons.html" style="color: #C5C31E">56 Reasons (2021)</a></li>
  <li><a href="/writing/sol.html"style="color: #C5C31E">Sol-Luna (2021)</a></li>
  <li><a href="/writing/originalmyth.html"style="color: #C5C31E">The Original Myth (2021)</a></li>
  <li><a href="/writing/doyou.html"style="color: #C5C31E">Do You? (2021)</a></li>
  <li><a href="/writing/onetowritehomeabout.html"style="color: #C5C31E">One To Write Home About (2021)</a></li>
  <li><a href="/writing/threebythree.html"style="color: #C5C31E">Three by Three (2021)</a></li>
  <li><a href="/writing/talltales.html"style="color: #C5C31E">Tall Tales (2021)</a></li>
  <li><a href="/writing/reality.html"style="color: #C5C31E">Rabbit Hole (2021)</a></li>
  <li><a href="/writing/saber.html"style="color: #C5C31E">Cudgle and Lightsaber (working title, ongoing)</a></li>
  <li><a href="/writing/threerights.html">Three Rights Make a Left (2023)</a></li>
  <li><a href="/writing/iam.html">I Am (2023)</a></li>
  <li><a href="/writing/whoisitgoodfor.html">Who Is It Good For? (2023)</a></li>

