<div id="textbody">
  <h3>Akinzali Inferno</h3>
  <p>

    Bolts of fire from Bresseni boards broke the black blanket brought by the moon. Vaeli vehicles vroomed to life, revving red hot to rebuff the raiders ravaging their ports. Calls came cascading back to command, ordering ordinary soldiers to open ordinance oppression upon the foe. One order ordained a soldier, opining over other obligations, to put posts prescribing preemptive posturing, for allied armadas sailing south of Vaeli arms, past the point of projectiles. Slipping inside a small ship shackled to tilting teatherposts, he untied the twine uniting it with the petra weight, which waved while he wheeled out of the wharf and off to war.
</p>
<p>
Upon passing the Peninsula of Promise, the portly porter of potentially portent epistulas pulled up to the dark grey figures approaching through the seamist. A dismally dark dirge of driving destroyers and wooden deciremes was suddenly dropped on by the doggedly determined defenders of the western banks, dooming many a sailor to the despairing depths of the sea; breaking the backs of the new-born brigade to the booming barrage of buckshot barreling from above; their debt, the brevity of the booking list of boats still benefiting their broken bankroll. Still stirring from the steel-grey sea, the stirling destroyers sail, unassailed, to the assistance of their associates, all available hands aimed to annihilate the attackers in land alien to them.
</p>
<p>
Breaking waves to beat back the brown boats abreast the shore of Berusia, brave boaters blasted away at the enemy and shoreline batteries, bringing bows below the blue with their bold action; beleaguered Bresseni boats backed away, their bravado beaten back by the bountiful bouquet of bullets. Slinking aside the soothing shore, the once stalwart sailors are assigned to solely assist their sister ships; fleeing far from the foe’s firing range, before finally finishing in front of the fatherland. Having halved the haughty harriers, halcyon heroes hailed their haggard allies, heaping honors on them for holding the line under a hail of hate.
</p>
<p>
Heating up in the east, the eager ears of Agrisallan men listen unerringly to the eerie emissions of early rising Vaeli men. Massive muri mount an insurmountable mission for the mal-intended militiamen, which might make many a man mincemeat. Avid assailers against the a-emotional halfbreeds attempted to ascend the ramparts, sending soldiers scaling up just to see them shoved sideways, sailing straight south to their deaths. The clairvoyance of the clever creators of the castle-like construction calling creedence to the clear-cut count of casualties crowding the canon range. Lives lost lamenting beneath the walls, leaving filial bonds to let flies feast fiercely on the forgotten fallen.
</p>
<p></p>


  </div>
