<h1>Akinzal</h1>
<h2>Origin</h2>
In the beginning the world was but a ball of water floating around Solenna, the Creator Sun Goddess. Solenna took the water into her hand, building the continents of the world with her lazy finger. After she finished, she put the world back where she had found it and relaxed into her throne. The denizens of the world did not remain silent, for there was a single man hailing from Vael who dared defy Solenna.

Spending many days in the warmth of Solenna’s light, Amara practiced absorbing the mana that rained down from above and bringing it into his own. One day, he noticed that his mana reserves were growing, even when he sat inside during the dark of night. His hands began to take on a golden glow, soon encompassing his whole form. The light flamed and danced up from his feet and around him, lifting him off the ground so that he may never want for walking. Amara smiled, his lips pulled back, baring every tooth in his mouth. He laughed a hearty laugh, his cries of ecstasy echoing from the plane of mortals up to the Throne of Gods.

Solenna heard this, awaking from her slumber and shrinking as she descended to the spot whence the cries came. She found herself outside of a small wooden hut in a dense forest, light spilling forth from foggy windows and cracks in the doorway. Apprehensive at first, but brave on the second, she rapped the back of her hand onto the door, announcing her presence to he who would wish to face god. Metallic clanking sounds faintly broke the silent air, followed by heavy footfalls tracing their way towards the door. Solenna felt a premonition to back away. She took a tepid step in reverse, an adorned metal hand crashing through the door and shooting the splinters in every direction. Out stepped Amara, covered in magical armor; his hands lightly producing lava and small shards of earth, feet oozing water and gusts, head wrapped in a saline water bubble, chest strapped with a golden piece, white wings sprouting from the back. Solenna produced her own magic from the tips of her fingers, preparing to defend her godhood.

Amara and Solenna engaged first with their magic, leaping between points on Akinzal; in what would be the Montok Mountainstar, Amara kicked the formation to life, losing his sabaton to the rising earth; in the Pleasure shores, he unleashed his torrent of water, bleaching the sands; in what would be the Monsum volcano, he threw a strike that nearly hit Solenna, driving the lava-producing piece into the ground; over the Berusia sea, his air gauntlet fell, dragging wind from the west to the east; his last piece falling on the Isle of Salt, which dried and caked the island in a thick layer of saline blocks. With Amara’s gear expended, Solenna charged at him and knocked him from Hachten all the way to Fordorhal. But he landed on his feet around what is the Euon/Aulon delta, cracking the earth and displacing it into the Tauertol Range. Solenna knew then that she may lose, her mana reserves seeming to be sucked from her through her attacks on Amara.

<a href="/res/akinzal_factions"></a>
<a href="/res/akinzal_cities"></a>
<a href="/res/akinzal_terrain"></a>

Races And Cultures
(races not indicative of the *only* races in this world):

Agrisalla
A majorly agricultural city, producing much of eastern Akinzal's food. In their history they've been a peaceful nation, but when encroached on by Vael or the Empire of Jovias, they resisted bitterly and forced their invaders to fall back time and again. Comprising of an army of militia-farmers, serving five day shifts in the barracks and using their free-time to tend to their heirloom farmlands.
Race- Ariza; humanoid, fair-skinned, rounded ears, grey eyes; as close to our notion of humans in all of Akinzal

Bressen
Hexagonal shafts of rock shoot a hundred meters above the sea on the island that the local population has named Bressen. From these stone pillars, a subterranean mega-fortress has been built. Much consideration has been put towards defensibility as well as offensive capabilities. When the Empire of Jovias began putting more power into the inland sea of Berusia, they could only manage to gain a foothold on the island of Lavenmas, losing many men trying to get past the docks in Bressen.
Race- Dwarves

Darmenhal
A regional superpower rising from the fickle banks of the Falheim, to the pristine white beaches of the Pleasure Shores. In time immemorial, the Darmenhali once lived amongst the Fordorhali. This fraternization ended when the Fordorhali settled the Euon and Aulon, relegating the Darmenhali to the less useful Morlon. Chief Hallaheim refused to receive such an insult, so he moved his entire tribe across the continent until they could find a place to rival the Fordorhali. Since, they have grown to be the strongest trading post in east Akinzal, with a military to scare off any nomads or invasions from Entak. Yet a fear still permeates the longhouses, that one day the Fordorhali will come to bring them to heel for all their disobedience in the past.
Race- Ikemali (Grey-skinned humanoids with red eyes, pointy ears, sharp canines, triangular nails resembling claws and a propensity towards autocracy. Darmehali have gotten lighter, whereas the Fordorhali are darker)

Entak
A bustling city situated beneath towering peaks of the Mantok Mountainstar, subsisting on hunting wild game and producing beautiful works of pottery and tapestries. While lacking in the conventional means of warfare, they resolutely defend their homeland to the death. Their capital city is the world’s greatest amphitheatron, dug from the mountains with the grand citadel situated at the stage; every citizen’s life spent looking at their ruler’s castle from birth until death, in some way or another.
Race- Dromen (Deep brown-skinned humanoids with a natural slouch in their posture from their years living in the caves of the Mantok, their noses honed to that of a hunting dog)

Faberen
Faberens, the tan roaming philosophers, are a race who pride themselves on the consumption and categorization of knowledge. Their city is built around the most prestigious college in the northwest and, some argue, even the entirety of Akinzal. The Marhar College of Trades is the hub of knowledge and, as the name suggests, crafts and skills. Mainly rich people, sons and daughters of the patricians, attend. Some of the more poor from the suburbs or the apartments in the city attend on financial aid based on their intelligence. Not many make through in this way. But this small group of the lower class that make it through bring home their books and teach their family and neighbors, bringing the overall intelligence of the city up to higher than their Sister City, which is a major point of pride as a rallying cry for the Faberens as they taunt the Hachten crowds.
Race- Auri (golden-skinned Elves)

Fordorhal
Cramped, potent, strong; all are words that the Fordorhali use when describing their beloved city. On their throne lounges a man of near divine lineage; his great-great grandfather Arcessa Akinzal being the first man to sail around the known world, naming the mass after himself. For generations, the crown has tried to exert its influence in Berusia, but the locals laugh off their requests. By now, the Fordorhali have grown to hate all of the other races in Akinzal and wish to see them lain low in their cities. This hate is cooled by the rational Vaeli, who allied themselves to Fordorhal during the War of Agrisallan Aggression, convincing them that diplomacy is preferable to violence. Though, the thirst for new conquests cannot be quenched in the hearts of the Fordorhali.
Race- Ikemali (darker)

Hachten
A proud, industrious city filled with warriors and merchants, straddling the Sola Channel from the mainland to the Isle of Salt. Traders, preferring to avoid the Bay of Broken Hulls, stop by at their ports, paying high tolls to dock and offload their cargo. The mainland portion of the city is dotted with rubble from the previous war with Faberen, yet clean-up is concluding faster than the rival Sister City. Grand docks jut out of the Isle and the mainland, filled with massive metallic ships patrolling the waters and wet shipwrights for cleaning and maintenance. Two large bridges connect the Isle and the city, forming a grand archway welcoming sailors to a safe harbor.
Race- Hauri (pale-skinned Elves)

(Empire of) Jovias
Starting as a small settlement consisting of rejects from Fordorhal, Jovias has grown into a highly militarized nation bent on controlling the entire shoreline of Berusia. For example, the island of Lavenmas was turned into a formidable fortress with two ports, walls lining the entire length and enough beds and grain silos to house the full armies of three nations. Jovias has no sway in Bressen, but Vael is open to their trade, yet not their arms. The Jovians were key in convincing the triple alliance of Leicester (Darmenhal, Jovias and Agrisalla) to go to war with Vael. The war ended sourly for the alliance, but happily for the Jovians. During the war, they had stationed troops in Bressen’s colonies on the western shore of Berusia who turned on those who had once been begrudgingly called “comrade”. Jovias secured the western banks, but these were soon taken by Fordorhal, who gifted the Peninsula of Promise to Vael.
Race- Ikemari (Pointy-eared and squinty-eyed relatives of the Ikemali, differing in their reasons for militarization -Jovians seeking to be seen as Alpha-, the color of their eyes -silver- and the camaraderie between civilians, all seen as outcasts somewhere else but friend here)

Vael
Home to the spawn of Dwarves and the Agrisallans, these half-breeds excel in building and invention. The ship that Arcessa Akinzal sailed on was from a Vael shipwright; it had self-propulsion as well as a solid metal hull. These traits are shared by all Vael ships, and mimicked to some degree in all other nations. As such, Vael are the only nation to be able to traverse the Bay of Broken Hulls and reach Darmenhal, saving them much on tolls from Hachten, but Hachten still managed to bring them under their influence (comprising a three-way alliance known as the Quatrayek). About their eastern border lies a towering stone wall, topped with rotating cannon emplacements, archer towers and Earth charged mana crystals.
Race- Helfils (Dwarf/Human)
