<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kyle's Collections of Creations</title>
  </head>
  <!--
    ──────▄▌▐▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀​▀▀▀▀▀▀▌
    ───▄▄██▌█ beep beep
    ▄▄▄▌▐██▌█ gay porn delivery
    ███████▌█▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄​▄▄▄▄▄▄▌
    ▀(@)▀▀▀▀▀▀▀(@)(@)▀▀▀▀▀▀▀▀▀▀▀▀▀​▀▀▀▀(@)▀
  -->
  <link rel="stylesheet" href="/css/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quattrocento&display=swap" rel="stylesheet">
  <body>
    <h1>Menu For Me 'N' U</h1>
    <div>
      <span class="rainbow-lr">Rainbow text</span>
    </div>
    <div id="task-meta" class="siteheader">
      <h4 style="margin-left:1em; margin-top:0.5em;">Links</h4>
      <hr>

      <div id="topline">
        <div id="home">
          <nav>
            <ul>
              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="/b/">Blog Posts</a></li>
              <li><a href="/c/">My Creations</a></li>
              <li><a href="/sales/">Book Links</a></li>
              <li><a href="about.html">About Me</a></li>
              <li><a href="contact.html">Contact Me</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div>
      <span class="rainbow-lr">Rainbow text</span>
    </div>
    <main>
      <%= yield %>
    </main>

    <div id="legealese">
      <p> Dedicated to you, the reader.
      </p>
  </body>


</html>
